<form #form="ngForm" (ngSubmit)="onSubmit()">
  <h1>Secret Share</h1>
  <div class="row">
    <div class="col-6">
      <label for="available">Available From</label>
      <input
        id="availableFrom"
        name="availableFrom"
        class="form-control"
        type="text"
        bsDatepicker
        [(ngModel)]="model.availableFrom"
      />
    </div>
    <div class="col-6">
      <label for="expiresAt">Expires At</label>
      <input
        id="expiresAt"
        name="expiresAt"
        class="form-control"
        type="text"
        bsDatepicker
        [(ngModel)]="model.expiresAt"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="content">Content</label>
        <textarea
          class="form-control"
          id="content"
          name="content"
          placeholder="Your secret content"
          [(ngModel)]="model.body"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-check form-switch switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked"
          [(ngModel)]="isAccessAttemptsSet"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="testChange($event)"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Access count</label
        >
      </div>
    </div>
    <div class="col-6" *ngIf="isAccessAttemptsSet">
      <div class="form-group">
        <label for="content">Deleted after {{model.accessAttemptsLeft}} access</label>
        <input
          type="number"
          class="form-control"
          id="accessAttemptsLeft"
          name="accessAttemptsLeft"
          placeholder="3"
          min="1"
          [(ngModel)]="model.accessAttemptsLeft"
        />
      </div>
    </div>
  </div>

  <br>

  
  <div class="row">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>

<!-- <ul>
  <li *ngFor="let secret of secrets">
    <a [href]="getLink(secret)">{{secret.content}}</a> 
  </li>
</ul> -->
